@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

body {
  background-color: #ecf9ff;
}

nav {
  /* height: 3rem; */
  background-color: #f9d949;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid black;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 3rem;
  text-align: center;
}

.card {
  width: 50rem;
  background-color: aliceblue;
  border: 0.1rem solid grey;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: auto;
  margin-bottom: 2rem;
}

.imageContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: #f9d949;
}

.cardTag {
  align-self: flex-start;
  background-color: black;
  color: #f9d949;
  padding: 0rem 1rem;
  text-align: center;
}

.cardTitle {
  font-size: 2rem;
  text-align: center;
}

.cardAuthor {
  font-size: 1rem;
  align-self: flex-end;
  color: #f9d949;
  background-color: white;
  padding: 0rem 0.1rem 0.1rem 1rem;
  display: flex;
  justify-content: center;
}

.cardDetails {
  padding: 2rem;
  background-color: white;
}

.authorImage {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
}

footer {
  background-color: #f9d949;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 0.2rem solid black;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .card {
    width: 90%;
  }
}
